pandas
numpy
scikit-learn
xgboost
lightgbm
imbalanced-learn
optuna
shap

mlflow
dvc

fastapi>=0.135.1,<1
uvicorn
pydantic>=2.7.0,<3

evidently

pytest
httpx
locust

matplotlib
seaborn
plotly
streamlit

python-dotenv
joblib

ipykernel

jinja2 
python-multipart