pandas
numpy
scikit-learn
xgboost
lightgbm
imbalanced-learn
optuna
shap

mlflow
dvc

fastapi
uvicorn
pydantic

evidently

pytest
httpx
locust

matplotlib
seaborn
plotly
streamlit

python-dotenv
joblib